<!DOCTYPE html>
<html lang="zh-CN" style="font-size: 52.0833px;">

<head>
    <meta charset="UTF-8">
    <title>仿移动端小米官网</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script>
        !function (n) { var e = n.document, t = e.documentElement, i = 720, d = i / 100, o = "orientationchange" in n ? "orientationchange" : "resize", a = function () { var n = t.clientWidth || 320; n > 720 && (n = 720), t.style.fontSize = n / d + "px" }; e.addEventListener && (n.addEventListener(o, a, !1), e.addEventListener("DOMContentLoaded", a, !1)) } (window);
    </script>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="wrapper">
        <div class="channel-index" data-log="频道">
            <div class="channel-header" style="background-color: rgba(255, 255, 255, 0);">
                <div class="logo">
                    <a href="http://m.mi.com/#/index">
                        <img src="http://m.mi.com/component/header/img/back2_085f04b.png" class="state2" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                        <img src="http://s1.mi.com/m/images/m/icon_back_n.png" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1); display: none;"
                            class="state1">
                    </a>
                </div>
                <div class="search_bar" style="border: 1px solid rgb(255, 255, 255);">
                    <a href="http://m.mi.com/#/search/index" data-stat-id="9e9d2ecaae72ee3a" onclick="_msq.push(['trackEvent', '221a86c5a4688b35-9e9d2ecaae72ee3a', '/#/search/index', 'pcpid', '']);">
                        <span class="text">搜索商品名称</span>
                    </a>
                </div>
                <div class="login">
                    <a href="http://m.mi.com/#/cart/index">
                        <div class="user state2" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                            <img src="http://m.mi.com/component/header/img/cart_white_35b9dc4.png">
                        </div>
                        <div style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1); display: none;" class="user state1">
                            <img src="http://m.mi.com/component/header/img/cart_ae7d5a3.png">
                        </div>
                    </a>
                </div>
            </div>
            <div id="slider" class="first slider" style="visibility: visible;">
                <div class="swipe-wrap" style="width: 100%;">
                    <div data-event="3128wapchannelgallery001001#rid=700ed245c713a07ade516680aea3c950&amp;t=ad&amp;pid=5291&amp;adp=266&amp;adm=711"
                        data-index="0" style="width: 100%; left: 0px; transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                        <a data-log_code="3128wapchannelgallery001001#rid=700ed245c713a07ade516680aea3c950&amp;t=ad&amp;pid=5291&amp;adp=266&amp;adm=711"
                            href="http://m.mi.com/#/product/view?product_id=5291" data-stat-id="e869e44e770cdd8d" onclick="_msq.push(['trackEvent', '221a86c5a4688b35-e869e44e770cdd8d', '/#/product/viewproduct_id=5291', 'pcpid', '3128wapchannelgallery001001#rid=700ed245c713a07ade516680aea3c950&amp;t=ad&amp;pid=5291&amp;adp=266&amp;adm=711']);">
                            <span class="imgurl">
                            <img src="http://i8.mifile.cn/v1/a1/6c7464a5-b8b5-dcbb-d060-67d461b841d8.webp">
                        </span>
                            </a>
                </div>
                <!--v-repeat-gallery-->
            </div>

        </div>
        <div class="first">
            <div class="f-list">
                <div class="section">

                    <div class="divider_line" style="width:100%;height:0.16rem; border-bottom: 0.16rem solid #f5f5f5">
                    </div>
                </div>
                <div class="section">
                    <div class="cells_auto_fill">
                        <div data-index="2" class="body" style="width: 7.2rem; height: 5.08rem;">
                            <div class="items J_linksign-customize" style="width: 3.58rem; height: 5.08rem; left: 0rem; top: 0rem;">

                                    <div class="img">
                                        <img class="lazy" data-src="//i8.mifile.cn/v1/a1/51930543-f87d-95ac-dbb4-3cca7b8ae8cc.webp?width=358&amp;heihgt=508" src="http://i8.mifile.cn/v1/a1/51930543-f87d-95ac-dbb4-3cca7b8ae8cc.webp?width=358&amp;heihgt=508"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>

                            </div>
                            <div class="items J_linksign-customize" style="width: 3.58rem; height: 2.52rem; left: 3.62rem; top: 0rem;">

                                    <div class="img">
                                        <img class="lazy" data-src="//i8.mifile.cn/v1/a1/15e9e014-c56f-87bb-9e78-270fd56a01a8.webp?width=358&amp;heihgt=252" src="http://i8.mifile.cn/v1/a1/15e9e014-c56f-87bb-9e78-270fd56a01a8.webp?width=358&amp;heihgt=252"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>

                            </div>
                            <div class="items J_linksign-customize" style="width: 3.58rem; height: 2.52rem; left: 3.62rem; top: 2.56rem;">

                                    <div class="img">
                                        <img class="lazy" data-src="//i8.mifile.cn/v1/a1/20b7f813-e72a-c1a0-83b6-9d409ac8c5f3.webp?width=358&amp;heihgt=252" src="http://i8.mifile.cn/v1/a1/20b7f813-e72a-c1a0-83b6-9d409ac8c5f3.webp?width=358&amp;heihgt=252"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>

                            </div>
                            <!--v-repeat-body.items-->
                        </div>
                    </div>

                </div>
                <div class="section">

                    <div class="divider_line" style="width:100%;height:0.16rem; border-bottom: 0.16rem solid #f5f5f5">
                    </div>
                </div>
                <div class="section">
                    <div class="cells_auto_fill">
                        <div data-index="4" class="body" style="width: 7.2rem; height: 0.8rem;">
                            <div class="items J_linksign-customize" style="width: 7.2rem; height: 0.8rem; left: 0rem; top: 0rem;">

                                    <div class="img">
                                        <img class="lazy" data-src="//i8.mifile.cn/v1/a1/235932e3-9d72-2d14-0359-33527de8d703.webp?width=720&amp;heihgt=80" src="http://i8.mifile.cn/v1/a1/235932e3-9d72-2d14-0359-33527de8d703.webp?width=720&amp;heihgt=80"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>

                            </div>
                            <!--v-repeat-body.items-->
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="list_one_type12">
                        <div class="item J_linksign-customize">

                                <div class="flex">
                                    <div class="img">
                                        <img class="big lazy" data-src="http://i8.mifile.cn/v1/a1/3b4b04f7-ed9a-9bc3-e272-9b84d022607f.webp" src="http://i8.mifile.cn/v1/a1/3b4b04f7-ed9a-9bc3-e272-9b84d022607f.webp"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>
                                    <div class="info">
                                        <div class="l l1">
                                            <div class="name">红米4 3GB+32GB</div>
                                            <div class="price">999

                                            </div>
                                        </div>
                                        <div class="l l2">
                                            <div class="brief">2.5D 玻璃，金属一体化机身，4100mAh 大电量</div>

                                        </div>
                                    </div>
                                </div>

                        </div>
                        <!--v-repeat-body.items-->
                    </div>
                </div>
                <div class="section">
                    <div class="list_two_type1">
                        <div class="box">
                            <div class="item J_linksign-customize">

                                    <div class="img">
                                        <img class="big lazy" data-src="//i8.mifile.cn/v1/a1/8f8535a0-32ec-4aa0-6799-a27f978b618c.webp?width=360&amp;height=360"
                                            src="http://i8.mifile.cn/v1/a1/8f8535a0-32ec-4aa0-6799-a27f978b618c.webp?width=360&amp;height=360"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>
                                    <div class="info">
                                        <div class="name">红米4 16GB版</div>
                                        <div class="brief">长续航金属千元旗舰手机</div>
                                        <div class="price">799


                                        </div>
                                    </div>

                            </div>
                            <div class="item J_linksign-customize">

                                    <div class="img">
                                        <img class="big lazy" data-src="//i8.mifile.cn/v1/a1/62e16f32-360f-b4f6-e627-37ed8c9c5330.webp?width=360&amp;height=360"
                                            src="http://i8.mifile.cn/v1/a1/62e16f32-360f-b4f6-e627-37ed8c9c5330.webp?width=360&amp;height=360"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>
                                    <div class="info">
                                        <div class="name">红米4X 32GB</div>
                                        <div class="brief">超长续航，5” 舒适单手握感</div>
                                        <div class="price">899


                                        </div>
                                    </div>

                            </div>
                            <!--v-repeat-body.items-->
                        </div>
                    </div>

                </div>
                <div class="section">

                    <div class="divider_line" style="width:100%;height:0.16rem; border-bottom: 0.16rem solid #f5f5f5">
                    </div>
                </div>
                <div class="section">
                    <div class="cells_auto_fill">
                        <div data-index="8" class="body" style="width: 7.2rem; height: 0.8rem;">
                            <div class="items J_linksign-customize" style="width: 7.2rem; height: 0.8rem; left: 0rem; top: 0rem;">

                                    <div class="img">
                                        <img class="lazy" data-src="//i8.mifile.cn/v1/a1/31afedac-0f1c-72dc-5367-9b9b8bd53e73.webp?width=720&amp;heihgt=80" src="http://i8.mifile.cn/v1/a1/31afedac-0f1c-72dc-5367-9b9b8bd53e73.webp?width=720&amp;heihgt=80"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>

                            </div>
                            <!--v-repeat-body.items-->
                        </div>
                    </div>




                </div>
                <div class="section">
                    <div class="list_one_type12">
                        <div class="item J_linksign-customize">

                                <div class="flex">
                                    <div class="img">
                                        <img class="big lazy" data-src="http://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/1968beb79dfb208d70d24290e0dbbcf5.jpg?bg=FFFFFF"
                                            src="http://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/1968beb79dfb208d70d24290e0dbbcf5.jpg?bg=FFFFFF"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                                            <div class="tag">
                                                <img class="lazy" data-src="//i8.mifile.cn/v1/a1/c4fa1765-6e6a-f5d2-8ec4-b1117e7d1ae5.webp" src="http://i8.mifile.cn/v1/a1/c4fa1765-6e6a-f5d2-8ec4-b1117e7d1ae5.webp"
                                                    style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                                            </div>

                                    </div>
                                    <div class="info">
                                        <div class="l l1">
                                            <div class="name">红米Note 4 4GB+64GB</div>
                                            <div class="price">1399

                                            </div>
                                        </div>
                                        <div class="l l2">
                                            <div class="brief">全金属十核旗舰手机，4100mAh 超长续航</div>

                                        </div>
                                    </div>
                                </div>

                        </div>
                        <!--v-repeat-body.items-->
                    </div>

                </div>
                <div class="section">
                    <div class="list_two_type1">
                        <div class="box">
                            <div class="item J_linksign-customize">

                                    <div class="img">
                                        <img class="big lazy" data-src="//i8.mifile.cn/v1/a1/df54926a-f3e2-863a-48b9-c1c861a4e9de.webp?width=360&amp;height=360"
                                            src="http://i8.mifile.cn/v1/a1/df54926a-f3e2-863a-48b9-c1c861a4e9de.webp?width=360&amp;height=360"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>
                                    <div class="info">
                                        <div class="name">红米Note 4X 32GB</div>
                                        <div class="brief">多彩金属 / 超长续航</div>
                                        <div class="price">999


                                        </div>
                                    </div>

                            </div>
                            <div class="item J_linksign-customize">

                                    <div class="img">
                                        <img class="big lazy" data-src="//i8.mifile.cn/v1/a1/62e16f32-360f-b4f6-e627-37ed8c9c5330.webp?width=360&amp;height=360"
                                            src="http://i8.mifile.cn/v1/a1/62e16f32-360f-b4f6-e627-37ed8c9c5330.webp?width=360&amp;height=360"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>
                                    <div class="info">
                                        <div class="name">红米4X 32GB</div>
                                        <div class="brief">超长续航，5” 舒适单手握感</div>
                                        <div class="price">899


                                        </div>
                                    </div>

                            </div>
                            <!--v-repeat-body.items-->
                        </div>
                    </div>

                </div>
                <div class="section">
                    <div class="list_two_type1">
                        <div class="box">
                            <div class="item J_linksign-customize">

                                    <div class="img">
                                        <img class="big lazy" data-src="//i8.mifile.cn/v1/a1/df54926a-f3e2-863a-48b9-c1c861a4e9de.webp?width=360&amp;height=360"
                                            src="http://i8.mifile.cn/v1/a1/df54926a-f3e2-863a-48b9-c1c861a4e9de.webp?width=360&amp;height=360"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>
                                    <div class="info">
                                        <div class="name">红米Note 4X 32GB</div>
                                        <div class="brief">多彩金属 / 超长续航</div>
                                        <div class="price">999


                                        </div>
                                    </div>

                            </div>
                            <div class="item J_linksign-customize">

                                    <div class="img">
                                        <img class="big lazy" data-src="//i8.mifile.cn/v1/a1/62e16f32-360f-b4f6-e627-37ed8c9c5330.webp?width=360&amp;height=360"
                                            src="http://i8.mifile.cn/v1/a1/62e16f32-360f-b4f6-e627-37ed8c9c5330.webp?width=360&amp;height=360"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>
                                    <div class="info">
                                        <div class="name">红米4X 32GB</div>
                                        <div class="brief">超长续航，5” 舒适单手握感</div>
                                        <div class="price">899


                                        </div>
                                    </div>

                            </div>
                            <!--v-repeat-body.items-->
                        </div>
                    </div>
                </div>
                <div class="section">

                    <div class="divider_line" style="width:100%;height:0.16rem; border-bottom: 0.16rem solid #f5f5f5">
                    </div>
                </div>
                <div class="section">
                    <div class="cells_auto_fill">
                        <div data-index="13" class="body" style="width: 7.2rem; height: 0.8rem;">
                            <div class="items J_linksign-customize" style="width: 7.2rem; height: 0.8rem; left: 0rem; top: 0rem;">

                                    <div class="img">
                                        <img class="lazy" data-src="//i8.mifile.cn/v1/a1/5ea6c6fa-af8f-09ca-aee7-0c4682398e16.webp?width=720&amp;heihgt=80"
                                            src="http://i8.mifile.cn/v1/a1/5ea6c6fa-af8f-09ca-aee7-0c4682398e16.webp?width=720&amp;heihgt=80"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>

                            </div>
                            <!--v-repeat-body.items-->
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="list_one_type12">
                        <div class="item J_linksign-customize">

                                <div class="flex">
                                    <div class="img">
                                        <img class="big lazy" data-src="http://i8.mifile.cn/v1/a1/7a16dc7c-bf34-4890-9597-a8209c16ccaf.webp" src="http://i8.mifile.cn/v1/a1/7a16dc7c-bf34-4890-9597-a8209c16ccaf.webp"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>
                                    <div class="info">
                                        <div class="l l1">
                                            <div class="name">红米Note 4X 3+32GB</div>
                                            <div class="price">999

                                            </div>
                                        </div>
                                        <div class="l l2">
                                            <div class="brief">多彩金属 / 4100mAh超长续航 / 骁龙625处理器</div>

                                        </div>
                                    </div>
                                </div>
                                </a>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="list_two_type1">
                        <div class="box">
                            <div class="item J_linksign-customize">

                                    <div class="img">
                                        <img class="big lazy" data-src="//i8.mifile.cn/v1/a1/df54926a-f3e2-863a-48b9-c1c861a4e9de.webp?width=360&amp;height=360"
                                            src="http://i8.mifile.cn/v1/a1/df54926a-f3e2-863a-48b9-c1c861a4e9de.webp?width=360&amp;height=360"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>
                                    <div class="info">
                                        <div class="name">红米Note 4X 32GB</div>
                                        <div class="brief">多彩金属 / 超长续航</div>
                                        <div class="price">999


                                        </div>
                                    </div>

                            </div>
                            <div class="item J_linksign-customize">

                                    <div class="img">
                                        <img class="big lazy" data-src="//i8.mifile.cn/v1/a1/62e16f32-360f-b4f6-e627-37ed8c9c5330.webp?width=360&amp;height=360"
                                            src="http://i8.mifile.cn/v1/a1/62e16f32-360f-b4f6-e627-37ed8c9c5330.webp?width=360&amp;height=360"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>
                                    <div class="info">
                                        <div class="name">红米4X 32GB</div>
                                        <div class="brief">超长续航，5” 舒适单手握感</div>
                                        <div class="price">899


                                        </div>
                                    </div>

                            </div>
                            <!--v-repeat-body.items-->
                        </div>
                    </div>
                </div>
                <div class="section">

                    <div class="divider_line" style="width:100%;height:0.16rem; border-bottom: 0.16rem solid #f5f5f5">
                    </div>
                </div>
                <div class="section">
                    <div class="cells_auto_fill">
                        <div data-index="17" class="body" style="width: 7.2rem; height: 4.8rem;">
                            <div class="items J_linksign-customize" style="width: 3.58rem; height: 4.8rem; left: 0rem; top: 0rem;">

                                    <div class="img">
                                        <img class="lazy" data-src="//i8.mifile.cn/v1/a1/56a43003-812b-fa5f-2fcc-a9dddd1c4e7f.webp?width=358&amp;heihgt=480" src="http://i8.mifile.cn/v1/a1/56a43003-812b-fa5f-2fcc-a9dddd1c4e7f.webp?width=358&amp;heihgt=480"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>

                            </div>
                            <div class="items J_linksign-customize" style="width: 3.58rem; height: 4.8rem; left: 3.62rem; top: 0rem;">

                                    <div class="img">
                                        <img class="lazy" data-src="//i8.mifile.cn/v1/a1/d55778b9-7144-2d36-1450-694b8a47b9db.webp?width=358&amp;heihgt=480" src="http://i8.mifile.cn/v1/a1/d55778b9-7144-2d36-1450-694b8a47b9db.webp?width=358&amp;heihgt=480"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>

                            </div>
                            <!--v-repeat-body.items-->
                        </div>
                    </div></div>
                <div class="section">
                    <div class="cells_auto_fill">
                        <div data-index="17" class="body" style="width: 7.2rem; height: 4.8rem;">
                            <div class="items J_linksign-customize" style="width: 3.58rem; height: 4.8rem; left: 0rem; top: 0rem;">

                                    <div class="img">
                                        <img class="lazy" data-src="//i8.mifile.cn/v1/a1/56a43003-812b-fa5f-2fcc-a9dddd1c4e7f.webp?width=358&amp;heihgt=480" src="http://i8.mifile.cn/v1/a1/56a43003-812b-fa5f-2fcc-a9dddd1c4e7f.webp?width=358&amp;heihgt=480"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>

                            </div>
                            <div class="items J_linksign-customize" style="width: 3.58rem; height: 4.8rem; left: 3.62rem; top: 0rem;">

                                    <div class="img">
                                        <img class="lazy" data-src="//i8.mifile.cn/v1/a1/d55778b9-7144-2d36-1450-694b8a47b9db.webp?width=358&amp;heihgt=480" src="http://i8.mifile.cn/v1/a1/d55778b9-7144-2d36-1450-694b8a47b9db.webp?width=358&amp;heihgt=480"
                                            style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">

                                    </div>

                            </div>
                            <!--v-repeat-body.items-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer">
    <ul>
        <li>
            <a href="/" data-event="30000000110001002" class="on" data-stat-id="22e2020609e99d72" onclick="_msq.push(['trackEvent', '221a86c5a4688b35-22e2020609e99d72', '/#/index', 'pcpid', '']);">
                <div class="nav">
                    <div class="ih ispr"></div>
                    <p>首页</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#" data-event="30000000110001003" data-stat-id="3a200b7f58b28dcf" onclick="_msq.push(['trackEvent', '221a86c5a4688b35-3a200b7f58b28dcf', '/#/product/category', 'pcpid', '']);">
                <div class="nav">
                    <div class="ic ispr"></div>
                    <p>分类</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/cart" data-event="30000000110001006" data-stat-id="3026740b323f6a9a" onclick="_msq.push(['trackEvent', '221a86c5a4688b35-3026740b323f6a9a', '/#/cart/index', 'pcpid', '']);">
                <div class="nav">
                    <div class="is ispr"></div>
                    <p>购物车</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/user" data-event="30000000110001005" data-stat-id="5030c3a449186266" onclick="_msq.push(['trackEvent', '221a86c5a4688b35-5030c3a449186266', '/#/user/index', 'pcpid', '']);"><div class="nav"><div class="if ispr"></div><p>我的</p></div></a></li></ul></div>

<script>


    // console.log(user)
    const allImg = document.querySelectorAll('.img')
    allImg.forEach(function(img) {
        img.addEventListener('click', function(e){
            let ele = event.target;// DOM event对象的target 事件属性可返回事件的目标节点（触发该事件的节点），如生成事件的元素、文档或窗口。
            if (ele.tagName == 'IMG') {//DOM element对象的tagName 属性返回元素的标签名。返回值始终是大写的。

                let imgSrc = ele.dataset.src;//data-src属性
                location.href=`/view?id=${imgSrc}`//Location 对象包含有关当前 URL 的信息。
                  //href 属性是一个可读可写的字符串，可设置或返回当前显示的文档的完整 URL。
                  //因此，我们可以通过为该属性设置新的 URL，使浏览器读取并显示新的 URL 的内容。location.href=URL
            }
        })

    }, this);
    </script>
</body>

</html>
