<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>注册</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/signup.css">
</head>

<body>
    <div class="wrapper">
        <div class="wrap">
            <div class="layout">
                <div class="title-item t_c">
                    <h4 class="title_big30">注册小米帐号</h4>
                </div>
                <div class="regbox">
                    <div class="phone_step1">
                        <div class="listwrap">
                            <div class="tits display_box c_b">
                                <p id="select-cycode-result">中国(+86)</p>
                                <i class="icon_cirarr"></i>
                            </div>
                            <div class="country-container">
                                <div class="country-code">
                                    <ul class="item usually">
                                        <h2>常用</h2>
                                        <li class="record clearfix"><span class="record-country" data-code="+86" data-brief="CN">中国</span><span class="record-code">+86</span></li>
                                        <li class="record clearfix"><span class="record-country" data-code="+886" data-brief="TW">中国台湾</span><span class="record-code">+886</span></li>
                                        <li class="record clearfix"><span class="record-country" data-code="+852" data-brief="HK">中国香港</span><span class="record-code">+852</span></li>
                                    </ul>
                                    <ul class="item A">
                                        <h2>A</h2>
                                       <li class="record clearfix"><span class="record-country" data-code="+376" data-brief="AD">Andorra</span><span class="record-code">+376</span></li><li class="record clearfix"><span class="record-country" data-code="+93" data-brief="AF">Afghanistan</span><span class="record-code">+93</span></li><li class="record clearfix"><span class="record-country" data-code="+1" data-brief="AG">Antigua and Barbuda</span><span class="record-code">+1</span></li><li class="record clearfix"><span class="record-country" data-code="+1" data-brief="AI">Anguilla</span><span class="record-code">+1</span></li><li class="record clearfix"><span class="record-country" data-code="+355" data-brief="AL">Albania</span><span class="record-code">+355</span></li><li class="record clearfix"><span class="record-country" data-code="+374" data-brief="AM">Armenia</span><span class="record-code">+374</span></li><li class="record clearfix"><span class="record-country" data-code="+244" data-brief="AO">Angola</span><span class="record-code">+244</span></li><li class="record clearfix"><span class="record-country" data-code="+54" data-brief="AR">Argentina</span><span class="record-code">+54</span></li><li class="record clearfix"><span class="record-country" data-code="+1" data-brief="AS">American Samoa</span><span class="record-code">+1</span></li><li class="record clearfix"><span class="record-country" data-code="+43" data-brief="AT">Austria</span><span class="record-code">+43</span></li><li class="record clearfix"><span class="record-country" data-code="+61" data-brief="AU">Australia</span><span class="record-code">+61</span></li><li class="record clearfix"><span class="record-country" data-code="+297" data-brief="AW">Aruba</span><span class="record-code">+297</span></li><li class="record clearfix"><span class="record-country" data-code="+994" data-brief="AZ">Azerbaijan</span><span class="record-code">+994</span></li><li class="record clearfix"><span class="record-country" data-code="+213" data-brief="DZ">Algeria</span><span class="record-code">+213</span></li>
                                    </ul>
                                    <ul class="item B">
                                        <h2>B</h2>
                                        <li class="record clearfix"><span class="record-country" data-code="+387" data-brief="BA">Bosnia and Herzegovina</span><span
                                                class="record-code">+387</span></li>
                                    </ul>
                                </div>
                                <div class="cancel_panel">
                                    <div class="cancel_box">
                                        <a class="btnadpt bg_white btn-cancel" href="javascript:void(0);">取消</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--手机号输入-->
                        <div class="inputbg">
                            <label class="labelbox" for="">
                                <input type="tel" name="phone" data-type="PH" placeholder="请输入手机号码">
                            </label>
                        </div>
                        <div class="err_tip telTip">
                            <div class="dis_box"><em class="icon_error"></em><span>请输入正确手机号码</span></div>
                        </div>
                        <!--密码输入-->
                        <div class="inputbg">
                            <label class="labelbox" for="">
                                <input type="password" name="pwd" data-type="PH" placeholder="请输入密码">
                            </label>
                        </div>
                        <div class="err_tip pwdTip">
                            <div class="dis_box"><em class="icon_error"></em><span>数字字母组成6-15位</span></div>
                        </div>
                        <div class="fixed_bot mar_phone_dis1">
                            <input class="btn332 btn_reg_1 submit-step" data-to="phone-step2" type="submit" value="立即注册">
                            <p class="msg">
                                点击“立即注册”，即表示您同意并愿意遵守小米
                                <a href="http://www.miui.com/res/doc/eula/cn.html" target="_blank" title="用户协议">用户协议</a>                                和
                                <a href="http://www.miui.com/res/doc/privacy/cn.html" target="_blank" title="隐私政策">隐私政策</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div id="custom_display_4" class="n-footer">
        <div class="nf-link-area clearfix">
            <ul class="lang-select-list">
                <li><a href="javascript:void(0)" data-lang="zh_CN" class="lang-select-li current">简体</a>|</li>
                <li>
                    <a href="" data-lang="zh_TW" class="lang-select-li">繁体</a>|</li>
                <li>
                    <a href="" data-lang="en" class="lang-select-li">English</a>|</li>
                <li><a href="#">常见问题</a></li>
            </ul>
        </div>
        <p class="nf-intro"><span>小米公司版权所有-京ICP备10046444-<a class="beian-record-link" target="_blank" href=""><span><img src="https://account.xiaomi.com/static/res/9204d06/account-static/respassport/acc-2014/img/ghs.png"></span>京公网安备11010802020134号</a>-京ICP证110507号</span>
        </p>
    </div>
    <script src="./js/check.js"></script>
    <script>
    chooseCity.init();
    checkSignUp.init()
    </script>
</body>

</html>