<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./icon-font/iconfont.css">
  <link rel="stylesheet" type="text/css" href="./css/view.css">
  <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
</head>

<body on>
<div id="ContainerBox">
    <div class="product">
      <div class="flxed-header">
        <a href="#">             <!-- 跳转到首页 <--></-->
          <img src="/images/left.png" alt="">
        </a>
        <a href="#">
          <img src="./images/分享.png" alt="">
        </a>
      </div>
      <img src="<%=src%>" alt="" class="product_img">
      <div class="product_PrimaryMessage">
        <h4 class="product-model">红米4X 2GB+16GB <span class="proColor">香槟金</span></h4>
        <span class="product-performance">4100mAh 超长续航/5"舒适单手握感/骁龙8核处理器</span>
        <p class="product-price"><span>￥</span>699</p>
      </div>
    </div>
    <div class="attrsQaView">
        <div class="div more">
          <p class="has">已选</p>
          <div class="productInfo">红米4X 2GB+16GB <span class="proColor">香槟金</span> x<span class="number">1</span></div>
        </div>
    </div>
    <div class="productActive">
      <div class="div more">
        <div class="title">促销</div>
        <div class="cicon-text">分期</div>
      </div>
    </div>
    <div class="address">
      <div class="more">
        <div class="active_desc">
          <div class="icon-gps">
            <img src="/images/地址.png">
          </div>
          <span>请选择配送地址</span>
        </div>
      </div>
    </div>
    <div class="commentView">
     <div class="header-comment flex-row-justify more">
       <div class="left">用户评价(86)</div>
       <div class="right">查看全部评价</div>
     </div>
     <div class="comment">
       <div class="comment-list">
         <div class="user">
           <div class="img">

           </div>
           <div class="name">
             <span>1215628583</span>
             <span class="date">2017-03-03</span>
           </div>
           <div class="zan">
             <span>超爱</span>
           </div>
         </div>
         <div class="content">
           <div class="textbox">好美啊！处女一样。太精致了。</div>
         </div>
        </div>
      </div>
     </div>
    <div class="descTabsView">
      <ul id="tabs" class="tabs flex-row">
        <li class="tab on">概述</li>
        <li class="tab noBorder">参数</li>
      </ul>
      <div class="tabs-views">
        <div class="views">
          <ul>
            <li>
                <div class="img">
                  <img class="lazy" src="./images/views-1.png">
                </div>
            </li>
            <li>
                <div class="img">
                  <img class="lazy" src="./images/views-2.png">
                </div>
            </li>
            <li>
                <div class="img">
                  <img class="lazy" src="./images/views-3.png">
                </div>
            </li>
          </ul>
        </div>
        <div class="showAllBtn">查看全部图文详情 &gt;</div>
      </div>
    </div>
    <div class="recommend">
      <div class="recommend-title">为你推荐</div>
      <div class="recommend-list">
        <ul>
          <li>
            <div class="img">
              <img class="lazy" src="./images/recommend-1.png">
            </div>
            <div class="recommend-info">
              <div class="recommend-name">红米5s Plus</div>
              <div class="recommend-price">￥2599 <!--vue-if--></div>
            </div>
          </li>
          <li>
            <div class="img">
              <img class="lazy" src="./images/recommend-2.png">
            </div>
            <div class="recommend-info">
              <div class="recommend-name">红米4X</div>
              <div class="recommend-price">￥699 <!--vue-if--></div>
            </div>
          </li>
          <li>
            <div class="img">
              <img class="lazy" src="./images/recommend-3.png">
            </div>
            <div class="recommend-info">
              <div class="recommend-name">红米Note 4X</div>
              <div class="recommend-price">￥1299 <!--vue-if--></div>
            </div>
          </li>
          <li>
            <div class="img">
              <img class="lazy" src="./images/recommend-4.png">
            </div>
            <div class="recommend-info">
              <div class="recommend-name">小米MIX</div>
              <div class="recommend-price">￥3499 <!--vue-if--></div>
            </div>
          </li>
          <li>
              <div class="blank"></div>
          </li>
        </ul>
       </div>
    </div>
    <div class="product-footer ui-box">
      <a href="#" class="br">
        <div class="iconfont icon-icontitlehuishouye"></div>
        <div class="p">首页</div>
      </a>
      <a href="./xiaomi/index.html" class="br">
        <div class="iconfont icon-shoppingcart"></div>
        <div class="p">购物车</div>
      </a>
      <div class="ui-box-flex addCart">加入购物车</div>
      <div class="ui-box-flex buyNow">立即购买</div>
    </div>


  <div class="specMenu pop" style="display:none">
    <dic class="click"></dic>
    <div class="content">
      <div class="close">
        <span class="pop-icon-close"></span>
      </div>
      <div class="proInfo flex-row bb">
        <div class="productImg">
          <img src="http://i8.mifile.cn/v1/a1/1e933dc9-f900-2e4d-fdef-f0f66e9c8a92.webp"></div>
        <div class="proDesc flex-column">
            <div class="price" data-price="699">￥699</div>
            <div class="desc"> <span class="proName" data-name="红米4X">红米4X 2GB+16GB</span> <span class="proColor">香槟金</span></div>
        </div>
      </div>
      <div class="maxH5">
        <div class="specGroups">
          <div class="specTitle">颜色</div>
          <div class="specs flex-row bb select">
            <div class="specItem flex-row on" data-color="香槟金" data-small="http://i8.mifile.cn/v1/a1/1e933dc9-f900-2e4d-fdef-f0f66e9c8a92.webp" data-big="http://i8.mifile.cn/v1/a1/5a9c2fae-81c3-6ff4-1d5d-fa8427fdc199.webp" >
              <img src="http://i8.mifile.cn/v1/a1/1e933dc9-f900-2e4d-fdef-f0f66e9c8a92.webp" ><!--vue-if-->
              <p>香槟金</p>
            </div>
            <div class="specItem flex-row" data-color="磨砂黑" data-small="http://i8.mifile.cn/v1/a1/b52f9b15-9fb5-cbe6-4614-883dff68c0db.webp" data-big="http://i8.mifile.cn/v1/a1/93ac0618-b67d-c528-2117-76a50604fea4.webp">
              <img src="http://i8.mifile.cn/v1/a1/b52f9b15-9fb5-cbe6-4614-883dff68c0db.webp" ><!--vue-if-->
              <p>磨砂黑</p>
            </div>
            <div class="specItem flex-row" data-color="樱花粉" data-small="http://i8.mifile.cn/v1/a1/22069f4d-4311-8380-64da-ceae4cd08bfe.webp" data-big="http://i8.mifile.cn/v1/a1/8857b8cf-f720-729c-df35-dcdd959c033b.webp">
              <img src="http://i8.mifile.cn/v1/a1/22069f4d-4311-8380-64da-ceae4cd08bfe.webp" ><!--vue-if-->
              <p>樱花粉</p>
            </div><!--v-repeat-qaViews-->
          </div>
          <div class="specTitle">容量</div>
          <div class="specs flex-row bb">
            <div class="specItem flex-row on">
              <p>16GB</p>
            </div>
          </div>
          <div class="specBuy flex-row bb">
            <div class="specTitle">购买数量</div>
            <div class="addNum">
              <div class="sub">
                <div class="input-sub">—</div>
              </div>
              <div class="num input-num" data-num="1">1</div>
              <div class="add">
                <div class="input-add">➕
                </div>
              </div>
            </div>
          </div>
          <div class="ywx">
            <div class="specTitle">意外保险</div>
            <div class="specs flex-row">
              <div class="specItem">
                <p>红米4X 意外险  79元</p>
              </div>
            </div>
          </div>
        </div>

        <a href="javascript:;" class="btn flex-row">  <!-- 跳转到购物车 -->
          <div class="submitNow">
              确定
          </div>
        </a>
      </div>
  </div>
</div>
<script>

  const pop = document.querySelector('.pop');
  const attrsQaView = document.querySelector('.attrsQaView');
  const container = document.getElementById('ContainerBox');
  const content = document.querySelector('.specMenu .content');
  const buyNow = document.querySelector('.buyNow');
  const addCart = document.querySelector('.addCart')
  const add=document.querySelector('.input-add');
  const sub=document.querySelector('.input-sub');
  const pronum = document.querySelector('.num');
  const number = document.querySelector('.number');
  const productBigImg=document.querySelector('.product_img');
  const  productImg = document.querySelector('.productImg img')
  const specItems = document.querySelectorAll('.select .specItem')
  const ywxItems=document.querySelector('.ywx .specItem');
  const close = document.querySelector('.pop-icon-close');
 const  price = document.querySelector('.price');
 const proColor= document.querySelectorAll('.proColor');
  const proName=document.querySelector('.proName');
 const subBtn = document.querySelector('.btn');
 let select;
console.log(subBtn);

/* 购物栏中 不同选择显示不同的商品信息 */
  ywxItems.addEventListener('click',function(){
       this.classList.toggle("on");// 选择保险
       // classList属性的toggle方法在元素中切换类名。
        // 第一个参数为要在元素中移除的类名，并返回 false.
  })
  specItems.forEach(item =>{
    item.addEventListener('click',function(){// 点击事件触发回调函数
       specItems.forEach(item =>{
         item.classList.remove("on");
       })
       this.classList.add("on");// 添加类名 添加css样式 加边框
       productImg.src=`${this.dataset.small}`;// data-small属性存储的商品小图片地址赋值给选择配置页面顶部的img标签的src
       productBigImg.src=`${this.dataset.big}`// data-big属性存储的商品大图片地址赋值给购买详情页顶部的img标签的src
     proColor.forEach(item =>{
       item.innerHTML=`${this.dataset.color}`// data-color属性存储的颜色信息赋值给商品简介信息中的颜色一栏
       select=item.innerHTML;
     })
    })
  })

  /* 选择数量 */
  add.addEventListener('click',function(){
       if(pronum.dataset.num<2)
       {
         pronum.dataset.num++;
         console.log(pronum.dataset.num)
         pronum.innerHTML=pronum.dataset.num;
         number.innerHTML=pronum.dataset.num;
         if(pronum.dataset.num=2){
           this.style.opacity=0.2;
         }
         if(pronum.dataset.num>1)
         {
           sub.style.opacity=1;
         }
       }
     })
    sub.addEventListener('click',function(){
         if(pronum.dataset.num>1)
         {
           pronum.dataset.num--;
           console.log(pronum.dataset.num)
           pronum.innerHTML=pronum.dataset.num;
           number.innerHTML=pronum.dataset.num;
           if(pronum.dataset.num=1){
             this.style.opacity=0.2;
           }
           if(pronum.dataset.num=1)
           {
             add.style.opacity=1;
           }
         }
    })

/* 主页中可以触发购物栏事件 */
  function showBox(){
    pop.style.display='block';
   content.classList.add("buyshow-enter")
  }
  function hideBox(){
    pop.style.display='none';
     content.classList.remove("buyshow-enter")
  }
   addCart.addEventListener('click',function(e){
     e.preventDefault();
     showBox()
   })
   buyNow.addEventListener('click',function(e){
     e.preventDefault();
  showBox()
   })
   attrsQaView.addEventListener('click',function(e){
     e.preventDefault();
    showBox()
   })

  /* 获取当前鼠标点击的坐标  */
 // function getMousePos(event) {
 //           var e = event || window.event;
 //           return {'x':e.screenX,'y':e.screenY}
 //  }
  /* 如果点击在其它地方 则回到主页 */
  //  pop.addEventListener('click',function(){
  //     if(getMousePos().y<'250')
  //     {
  //       pop.style.display='none';
  //     }
  // })
  document.querySelector('.click').addEventListener('click',function(){
      hideBox()
  })
  close.addEventListener('click',function(){
      hideBox()
  })


  /* localStorage */
  const productDatas=JSON.parse(localStorage.getItem('product')) || [];
  function addDatas(e) {
    // 判断是否登录
    let user  = localStorage.getItem('userData')
    if(!user){
      alert('暂未登陆');
      location.href='/signin';
      return ;
    }
    let producturl=productImg.src,    //商品图片
     name=proName.dataset.name,       //商品名字
     unitPrice=price.dataset.price,   //商品单加
     info=proName.innerHTML+' '+select, //商品介绍
     num = pronum.dataset.num //商品数量
    console.log(name);
    console.log(producturl);
    console.log(unitPrice);
    console.log(info);
    console.log(num);
    // populateList(text);
    //将列表项保存到localStorage;
      const productData={
        producturl,
        unitPrice,
        name,
        info,
        num
      };
      productDatas.push(productData);
      localStorage.setItem('productDatas',JSON.stringify(productDatas));

        hideBox();
      location.href='/cart';

  }
  subBtn.addEventListener('click',addDatas);
</script>
</body>
</html>
